.contact__list {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 50px;
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact__link {
  display: flex;
  align-items: center;
  padding: 32px 0;

  font-weight: 500;
  color: $primary-text-color;
  text-decoration: none;
  transition: color $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
