.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features__list {
  display: flex;
  gap: 30px;
}

.features___item {
  width: 270px;
}

.features__icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: $portfolio-bg-btn-color;
  border-radius: 4px;
}

.subtitle {
  color: $title-text-color;
}

.features__subtitle {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__text {
  line-height: 1.71;
}
